<div class="container">
    <plan-details 
        [plans]="plans | async" 
        [features]="features | async"
        (selectionEvent)="onSelectionEvent($event)" ></plan-details>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">NGRX Demo</div>
            <div class="panel-body">
                <button type="button" class="btn btn-default" (click)="increment()">Increment</button>
                <span class="label label-primary">Current Count <span class="badge">{{ counter | async }}</span> </span>
                <button type="button" class="btn btn-default" (click)="decrement()">Decrement</button>
                <button type="button" class="btn btn-default" (click)="reset()">Reset Counter</button>
            </div>
        </div>

    </div>
</div>