<div class="container">
    <!--   <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Time out</div>
            <div class="panel-body">
                <strong>UUID:</strong><br>{{(user | async)?.UUID}}<br>
                <strong>Timer Message:</strong><br>{{ message }}<br>
                <strong>Expiry Date:</strong><br>{{ ((user | async)?.expiry) | date:'medium' }}<br>
                <form #f="ngForm" novalidate (ngSubmit)="startTimer()">
                    <div class="form-group">
                        <label>Time out offset</label>
                        <input type="number" class="form-control" name="timeout" [(ngModel)]="timeout" #vartimeout="ngModel" required min="2000">
                        <small [hidden]="vartimeout.valid || (vartimeout.pristine && !f.submitted)" class="text-danger"> Number is required. </small>
                    </div>
                    <button type="submit" class="btn btn-default" [disabled]="!f.valid">Set new UUID</button>
                </form>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Froala Editor</div>
            <div class="panel-body">
                <div [froalaEditor]>Hello, Froala!</div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showCarousel">
        <div class="panel panel-default">
            <div class="panel-heading">Carousel</div>
            <div class="panel-body">
                <!--  <select (change)="onChange($event.target.value)">
                <option *ngFor="let slidez of slides;" value={{slidez}}>
                    {{slidez.text}}
                </option>
                </select>
                <a id="froala-editor" [froalaEditor]="options" [ngModel]="currentSelection">{{currentSelection.text}}</a> -->
              <!-- <div [froalaEditor]  [froalaModel]="getSlides()" (froalaModelChange)=onChange($event)></div> -->
             <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let slidez of slides;let i = index;">
                            <td>{{slidez.title}}</td>
                            <td>
                                <div>
                                    <a id="{{i}}" [froalaEditor]="getOptions(i)" [froalaModel]="slides[i]">{{i}} {{slidez.title}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                

                <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                    <slide *ngFor="let slidez of slides;let i = index;" [active]="slidez.active">
                        <!--     <div>
                            <a [froalaEditor]="options" [(froalaModel)]="slides[i]">{{slidez.text}}</a>
                        </div> -->
                        <img [src]="slidez.href" style="margin:auto;">

                        <div class="carousel-caption">
                            <h3 style="background-color: transparent;color: white;">Slide {{i + 1}}</h3>
                            <p style="background-color: transparent;color: white;">{{slidez.title}}</p>
                        <!--    <a id="{{i}}" [froalaEditor]="getOptions(i)" [(froalaModel)]="slides[i]" >{{i}} {{slidez.title}}</a>-->
                        </div>
                    </slide>
                </carousel>

                <div class="col-md-12">
                    <button type="button" class="btn btn-info" (click)="removeLastSlide()">Remove Last Slide
                        </button>
                </div>
            </div>
        </div>
    </div>
    <plan-details [plans]="plans | async" [features]="features | async" (selectionEvent)="onSelectionEvent($event)"></plan-details>
    <!--   <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Cookies</div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <td colspan="2">Cookies:</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cookie of keys">
                            <td>{{cookie}}</td>
                            <td>{{cookies[cookie]}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="iName">Name:</label>
                                <span><input type="text" id="iName" [(ngModel)]="cName"></span>
                            </td>
                            <td>
                                Value:
                                <span><input type="text" [(ngModel)]="cValue"></span>
                                <input type="button" value="Add" (click)="addCookie(cName, cValue)">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Name:
                                <span><input type="text" [(ngModel)]="rName"></span>
                                <input type="button" value="Remove" (click)="removeCookie(rName)">
                                <input type="button" value="Remove All" (click)="removeAll()">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Name:
                                <span><input type="text" [(ngModel)]="checkName"></span>
                                <input type="button" value="Check" (click)="checkCookie(checkName)"> {{cValue2}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">NGRX Demo</div>
            <div class="panel-body">
                <button type="button" class="btn btn-default" (click)="increment()">Increment</button>
                <span class="label label-primary">Current Count <span class="badge">{{ counter | async }}</span> </span>
                <button type="button" class="btn btn-default" (click)="decrement()">Decrement</button>
                <button type="button" class="btn btn-default" (click)="reset()">Reset Counter</button>
            </div>
        </div>

    </div>
</div>